body {
    min-height: 50rem;
    padding-top: 4.8rem;
  }

.grey {
    background-color: $grey;
}

.logoE {
    width: 2.2rem;
    height: 3.3rem;
}

.navbar-padding {
    padding: 1rem;
}

.orange {
    background-color: $orange;
    border-color: $orange;
    color: $grey;
}

.orange:hover {
    border-color: $orange;
    background-color: $orangelight;
    color: $orange;
}

.orange-juice {
    border-color: $orange;
    color: $orange;
    background-color: $orangelight;
    margin: 3px;
}
.orange-juice:focus {
    background-color: $orangelight;
    border-color: $orange;
    color: $orange;
    box-shadow: 0 0 0 .25rem rgba($color: #FF9B44, $alpha: 1.0); 
    outline: 0;
}

.orange-juice::placeholder {
    color: $orange;
}

.nav-title {
    color: #FF9B44 !important;
}

.navbar-dark .navbar-brand {
    color: #FF9B44;    
    font-size: 2rem;
}

.navbar-dark .navbar-brand:hover {
    color: #FF9B44;
    font-size: 2rem;
}

.pomme {
    display: flex;
    height: 28vh;
}

.pomme-reinette {
    display: flex;
    height: 20vh;
}

.btn-lg {
    margin-top: 10px;
}

.navbar-brand {
    font-family: $ver;
    font-style: italic;
}

.ver {
    font-family: $ver;
}

.cali {
    font-family: $cali;
}